  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="container-image">
        <img class="col-12" src="<[IMMAGINE_CAROUSEL]>">   
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      
      
      <div class="separator <[FLAG-PR]>">
        <h2 class="my-auto hidden-title <[FLAG-PR]>">SCELTI PER TE</b></h2>
      </div>
      <div class="main-carousel col-10 mx-auto mt-3 <[FLAG-PR]>" data-flickity='{ "cellAlign": "left", "contain": true }'>
        
        <[foreach]>
          <div class="carousel-cell text-center ml-3 mr-3 mt-2" style="width:11em;">

            <a href="#" id="evento_img"><img src="<[EVENTO_IMMAGINE_PREF]>" class="card-img-top" style=" height: 10em; border-radius: 50%;" alt="Evento immagine"></a>
            <div class="card-body">
              <a href="#" style="color:rgba(4, 15, 129, 0.815);"><h5 class="hidden-title"><b><nobr><[EVENTO_NOME_PREF]></nobr></b></h5></a>
              <hr>
              <b><[CATEGORIA_EVENTO_PREF]></b>
              <p class="card-text hidden-title">Posti: <[EVENTO_POSTI_PREF]></p>
              <p class="card-text hidden-title <[FLAG_PR]>"><b style="color: rgba(2, 8, 68, 0.815);" ><[EVENTO_COSTO_PREF]>€</b></p>
              <p class="card-text <[FLAG_PR1]>"><b style="color: red;">GRATIS!</b></p>
            </div>
          </div>
          <[/foreach]>  

      </div> 
      
      
      
      
      <div class="separator">
        <h2 class="my-auto hidden-title">PROSSIMI EVENTI</b></h2>
      </div>
      <div class="main-carousel col-10 mx-auto mt-3" data-flickity='{ "cellAlign": "left", "contain": true }'>
        
        <[foreach]>
          <div class="carousel-cell text-center ml-3 mr-3 mt-2" style="width:11em;">

            <a href="#" id="evento_img"><img src="<[EVENTO_IMMAGINE_RECENTE]>" class="card-img-top" style=" height: 10em; border-radius: 50%;" alt="Evento immagine"></a>
            <div class="card-body">
              <a href="#" style="color:rgba(4, 15, 129, 0.815);" ><h5 class="hidden-title"><b><nobr><[EVENTO_NOME_RECENTE]></nobr></b></h5></a>
              <hr>
              <b><[CATEGORIA_EVENTO_RECENTE]></b>
              <p class="card-text hidden-title">Posti: <[EVENTO_POSTI_RECENTE]></p>
              <p class="card-text hidden-title <[FLAG_R]>"><b style="color: rgba(2, 8, 68, 0.815);" ><[EVENTO_COSTO_RECENTE]>€</b></p>
              <p class="card-text <[FLAG_R1]>"><b style="color: red;">GRATIS!</b></p>
            </div>
          </div>
          <[/foreach]>  

      </div> 
      <[foreach]>
          <div class="separator">
            <img class="img-circle elevation-2 mr-3" src="<[CATEGORIA_IMMAGINE]>" alt="CATEGORIA_IMMAGINE" style="width: 5em; height: 5em;">
            <h2 class="my-auto hidden-title"><[CATEGORIA]></b></h2>
          </div>

        <div class="main-carousel col-10 mx-auto mt-3" data-flickity='{ "cellAlign": "left", "contain": true }'>
        
          <[foreach]>
              <div class="carousel-cell text-center ml-3 mr-3 mt-2" style="width:11em;">

                <a href="#" id="evento_img"><img src="<[EVENTO_IMMAGINE]>" class="card-img-top" style=" height: 10em; border-radius: 50%;" alt="Evento immagine"></a>
                <div class="card-body">
                  <a href="#"><h5 class="hidden-title"><b style="color:rgba(4, 15, 129, 0.815);"><nobr><[EVENTO_NOME]></nobr></b></h5></a>
                  <hr>
                  <b><[CATEGORIA_EVENTO]></b>
                  <p class="card-text hidden-title">Posti: <[EVENTO_POSTI]></p>
                  <p class="card-text hidden-title <[FLAG]>"><b style="color: rgba(2, 8, 68, 0.815);" ><[EVENTO_COSTO]>€</b></p>
                  <p class="card-text <[FLAG_1]>"><b style="color: red;">GRATIS!</b></p>
                </div>
              </div>
            <[/foreach]>  

        </div>
        
      <[/foreach]>
      <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" style="background-color: rgba(2, 8, 68, 0.815); color:white; border-radius: 100%;"><i class="fas fa-chevron-up"></i></a>
    </div><!-- /.container-fluid -->

</div>