<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Registrati</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3"></div>
        <div class="card col-sm-6">
          <div class="card-body register-card-body">
            <img src="image/gb.png" height="20%" width="60%" style="text-align: center;  display: block; margin-left: auto; margin-right: auto;">
            <p class="mt-2 login-box-msg">Registrati come nuovo utente</p>
            <!-- Errori -->
            <p class="login-box-msg text-danger" <[hidden]> ><b> <[Messaggio_errore]> </b></p>




            <form action="include/gestione_registrati.inc.php" method="POST">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" name="nome" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cognome" name="cognome" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                    <label for="agreeTerms">
                    Accetta i <a href="#">termini</a>
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm">
                  <button type="submit" class="btn btn-primary btn-block">Registrati</button>
                </div>
                <!-- /.col -->
              </div>

            </form>
            <p class="mt-2">Sei già registrato? <a href="login.php" class="text-center"><b>Clicca qui</b></a></p>

          </div>
          <!-- /.form-box -->
        </div>
    </div>

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
