<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="home.php">Home</a></li>
          <li class="breadcrumb-item active">Registrati</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
        <div class="card col-sm-8 pb-4 mx-auto">
          <div class="card-body register-card-body">
            <img src="image/gbx.jpg" height="25%" width="30%" style="text-align: center;  display: block; margin-left: auto; margin-right: auto;">
            <h4 class="my-auto hidden-title separator" style="color:rgba(4, 15, 129, 0.815);">REGISTRATI</b></h4>
            <!-- Errori -->
            <p class="login-box-msg text-danger mt-2" <[hidden]> ><b> <[Messaggio_errore]> </b></p>

            <form action="include/gestione_registrati.inc.php" method="POST">
              <div class="input-group mb-3 mt-3 col-sm-8 mx-auto">
                <input type="text" class="form-control" placeholder="Nome" name="nome" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3 col-sm-8 mx-auto">
                <input type="text" class="form-control" placeholder="Cognome" name="cognome" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3 col-sm-8 mx-auto">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3 col-sm-8 mx-auto">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm">
                  <div class="icheck-primary ml-1">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                    <label for="agreeTerms">
                    Accetta i <a href="termini.php">termini & condizioni</a>
                    </label>
                  </div>
                </div>
              </div>
              <!-- /.col -->
              <div class="row mx-auto">
                  <button name="registrati" type="submit" class="btn btn-primary btn-block mx-auto col-10 col-sm-3">Registrati</button>
              </div>
            </form>
            <hr class="col-8 mx-auto">
            <p class="mt-3 text-center pb-2">Sei già registrato? <a href="login.php" class="text-center"><b>Clicca qui</b></a></p>

          </div>
          <!-- /.form-box -->
        </div>
    </div>

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
