<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="home.php">Home</a></li>
            <li class="breadcrumb-item active">Biglietto</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <article class="ticket__card">
          <section class="date">
            <time datetime="23th feb">
              <span><[GIORNO]></span><span><[MESE]></span><span class="mt-1"><[ANNO]></span>
            </time>
          </section>
          <section class="card-cont">
            <small><[CATEGORIA]></small>
            <h3><[TITOLO]></h3>
            <div class="even-date">
              <!-- <i class="fa fa-calendar"></i> -->
              <time>
                <span> <[GIORNO_SETTIMANA]> <[GIORNO]> <[MESE]> <[ANNO]></span>
                <span>dalle <[INIZIO]> alle <[FINE]></span>
                <span><[CODICE]></span>
                <span><[INTESTATARIO]></span>          
              </time>
            </div>
            <div class="even-info">
              <!-- <i class="fa fa-map-marker"></i> -->
              <p><[LUOGO]></p>
            </div>
            <a class="no-print" href="javascript:window.print();">STAMPA</a>
          </section>
        </article>
      </div>
    </div>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
